/* Updated styles for the main page */
.main-page {
	text-align: center;
	padding: 20px;
}

input[type='text'] {
	width: 90%;
	padding: 10px;
	margin: 10px 0;
}

input[type='text']:focus-visible,
input[type='text']:focus-within {
	outline: none;
}

.cocktail-list {
	display: grid;
	grid-template-columns: repeat(4, 1fr); /* Create 4 columns */
	gap: 20px; /* Add gap between columns */
}

.cocktail-card {
	border: 1px solid #ccc;
	padding: 10px;
	max-width: 300px;
	text-align: left;
	height: fit-content;

	text-decoration: none;
	color: #000;
}

.cocktail-card:hover img {
	transform: scale(1.02);
	scale: 1.02;
	border-radius: 0 20px 0 20px;
}

.cocktail-card img {
	max-width: calc(100% - 50px);
	transition: all 0.5s;
}

.cocktail-card .image-container {
	display: flex;
	align-items: center;
	justify-content: center;
}

/* Adjust card width to fit four columns */
@media screen and (max-width: 1200px) {
	.cocktail-card {
		max-width: calc(25% - 20px); /* 25% width for each column with gap */
	}
}

button {
	background-color: #007bff;
	color: white;
	padding: 10px 20px;
	border: none;
	cursor: pointer;
}

button:disabled {
	background-color: #ccc;
	cursor: not-allowed;
}

/* Add more styles as needed */
/* Additional styles for the DetailPage component */
.detail-page {
	width: 80vw;
	text-align: center;
	padding: 20px;
}

.cocktail-details {
	display: flex;
	align-items: flex-start;
	justify-content: center;
	margin-top: 20px;
}

.cocktail-details img {
	margin-right: 20px;
}

.info {
	text-align: left;
}

.filter .btn-group {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-block: 20px;
}

.filter .btn-group button {
	margin-inline: 10px;
	background-color: #000;
}

.filter .btn-group .radio-btn {
	margin-inline: 10px;
}

.filter .btn-group .radio-btn select {
	background: #fff;
	height: 35px;
	width: 250px;
	margin-inline: 20px;
}

.main-page .left-container {
	display: flex;
}

.main-page .sugesstion {
	max-width: 250px;
	border: 1px solid #ccc;
	padding-inline-start: 1rem;
	margin-inline-start: 1em;
	padding-inline: 0.5em;
}

.main-page .sugesstion .random-cocktail {
	text-decoration: none;
	color: #000;
}

.main-page .sugesstion .suggest {
	min-width: inherit;
	background-position: center;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	min-height: inherit;
	justify-content: center;
	align-items: flex-start;
}

.main-page .sugesstion .suggest:hover img {
	filter: opacity(0.6);
}

.main-page .sugesstion .suggest h3 {
	position: absolute;
	padding-inline-start: 10px;
}

.main-page .sugesstion img {
	translate: -30%;
	transition: all 0.5s;
}

.cocktail-thumbnail {
	width: 100px;
	height: 100px;
	margin-right: 16px;
}

.cocktail-info {
	flex-grow: 1;
}

.loading {
	background-color: #f5f5f5;
	border: 1px solid #ddd;
	display: flex;
	align-items: center;
}

.loading-thumbnail {
	width: 100px;
	height: 100px;
	background-color: #ddd;
	margin-right: 16px;
}

.loading-info {
	flex-grow: 1;
}

.loading-title {
	width: 80%;
	height: 20px;
	background-color: #ddd;
	margin-bottom: 8px;
}

.loading-description {
	width: 100%;
	height: 16px;
	background-color: #ddd;
}

select {
	height: 25px;
	width: 250px;
	margin-inline: 15px;
	background-color: #fff;
}

select:focus-visible,
select:focus {
	outline: none;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
